<style>
    .choose-panel {
        border: 1px solid #e0e0e0;
        box-shadow: 1px 1px rgba(0, 0, 0, 0);
        padding: 5px;
        position: absolute;
        width: 100px;
        background: #FFF;
        z-index: 999;
        width: 250px;
    }
    .choose-panel ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .choose-panel ul li:first-child {
        margin-top: 5px;
    }
    .choose-panel ul li {
        display: block;
        margin:0;
        padding: 5px;
    }

    .choose-panel ul li:hover {
        background: #E3F2FD;
            cursor: pointer;
    }

    .choose-panel-hover, .choose-marked {
        background: #E3F2FD;
        cursor: pointer;
    }
    
    .choose-input {
        width: 100%;
        border: 1px solid #e0e0e0;
        padding: 3px;
    }
    
    ul.choose-tags:hover {
        cursor: pointer;
    }
    
    ul.choose-tags {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    ul.choose-tags li, .choose-panel-selected {
        background: #efefef;
        margin: 0;
        padding: 3px;
        margin-right: 3px;
        float: left;
        cursor: pointer;
    }
    
    
    .noselect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .choose-remove:hover {
        color: #B71C1C;
    }
    
    .choose-add:hover {
        color: #5cb85c;
    }
    
    
</style>
<div>
    <div class="choose-selected-panel" ng-click="select()">
        <div class="choose-panel-selected choose-panel-item" ng-transclude ng-show="isSingle">
            
        </div>
        <div class="choose-panel-item" style="padding:0px;height:30px;" ng-show="isMulti">

            <ul class="choose-tags" ng-show="isMulti">
                <li class="choose-add">
                    <i class="fa fa-plus"></i>
                </li>
                <li ng-repeat="item in selectedItems" ng-show="selectedItems.length > 0">
                    <ng-transclude></ng-transclude>
                    <i class="fa fa-times choose-remove" ng-click="removeItem(item)"></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="choose-panel noselect">
        <div>
            <input type="text" ng-model="value" class="choose-input" ng-blur="" ng-show="isSearchable"/>
            <ul>
                <li ng-repeat="item in items | filter:value" class="choose-item" ng-click="itemClick(item)">
                    <div style="float:left;">
                        <ng-transclude></ng-transclude>
                   </div>
                   
                   <div style="clear:both"></div>
                </li>
                
            </ul>
        </div>
    </div>
</div>