body {
            background: rgb(245, 245, 245);
            font-family: 'Noto Sans', sans-serif;
        }
.bold {
    font-weight: bold;
}
        .box {
            box-shadow: 1px 1px 1px #ddd;
            background: #fff;
            border-top: 1px solid rgb(235, 235, 235);
            border-left: 1px solid rgb(235, 235, 235);
            margin-bottom: 10px;
        }

            .box .course {
                padding: 10px;
                display: block;
            }
h3 {
    font-size: 20px;
}
        a {
            color: inherit;
        }

            a:hover {
                text-decoration: none;
            }

        .box .course:hover {
            cursor: pointer;
            background: rgb(240, 240, 240);
        }

        .box .course .progress {
            border-radius: 0px;
            height: 10px;
        }

        .box .course {
            font-weight: bold;
        }

        .box .course .quick-info {
            color: #aaa;
            font-size: 13px;
        }

        .list-group {
            box-shadow: 1px 1px 1px #ddd;
        }

        .list-group-item {
            border-left: 1px solid rgb(235, 235, 235);
            border-top: 1px solid rgb(235, 235, 235);
            border-bottom: none;
            border-right: none;
        }

        .box .heading.primary {
            color: #666;
            font-weight: normal;
        }

        .alert {
            padding: 10px;
        }

        .btn-danger {
            background: #B71C1C;
        }

        .box .heading {
            padding: 15px;
            color: #333;
            font-weight: bold;
            font-size: 16px;
            border-bottom: 1px solid #e0e0e0;
        }

        .box .content {
            padding: 15px;
        }
        
        .box .footer {
            padding: 15px;
            padding-top: 0px;
        }

        .list-group-item.active, .list-group-item.active:focus {
            background-color: #64B5F6;
            border: 1px solid #42A5F5;
        }

        .custom-navbar {
            background: #2196F3;
            padding: 15px;
        }

        .custom-secondary-navbar {
            padding: 10px;
            background: rgb(225, 225, 225);
        }

            .custom-secondary-navbar ul {
                padding: 0;
                margin: 0;
            }

            .custom-secondary-navbar li {
                color: #333;
                list-style: none;
                padding: 0;
                float: left;
                display: block;
                margin-right: 30px;
            }

                .custom-secondary-navbar li a {
                    color: #333;
                }

        div.logo {
            padding-top: 2px;
            float: left;
            width: 200px;
            font-size: 22px;
            color: #fff;
        }

        div.search-box {
            float: left;
        }

            div.search-box input {
                border: 1px solid #1E88E5;
                padding: 7px;
                width: 350px;
            }

        .round-button {
            border-radius: 50%;
            width: 35px;
            color: #fff;
            font-size: 18px;
            height: 35px;
            text-align: center;
            vertical-align: middle;
            background: #673AB7;
        }

        .list-group-item {
            border-radius: 0px !important;
        }

        .participant {
            padding: 15px;
        }

            .participant table tr:hover {
                cursor: pointer;
            }

                .participant table tr:hover td {
                }

                .participant table tr:hover .hover-title {
                    color: red;
                }

            .participant table tr {
                padding-bottom: 10px;
                padding-top: 10px;
            }

            .participant table {
                width: 100%;
            }

                .participant table td:last-child {
                    width: auto;
                }

                .participant table td {
                    vertical-align: top;
                    padding-right: 0px;
                    padding-bottom: 10px;
                    padding-top: 10px;
                    border-bottom: 1px solid #efefef;
                }

                .participant table tr:first-child td {
                    padding-top: 0px !important;
                }

                .participant table tr:last-child td {
                    padding-bottom: 0px !important;
                    border-bottom: none;
                }

                .participant table tr td .type {
                    color: #777;
                    font-weight: normal;
                    font-size: 13px;
                }

                .participant table tr td img {
                    padding-top: 1px;
                }

                .participant table tr td .info {
                    font-size: 13px;
                    color: #333;
                }

                    .participant table tr td .info i {
                        color: #666;
                    }

        .btn {
            border-radius: 0px;
            padding: 4px 10px;
            border: none;
            box-shadow: 1px 1px 1px rgba(0,0,0,.3);
            -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.3);
        }
        .form-control {
            border: 1px solid #e0e0e0 !important;
            border-radius: 2px !important;
        }
        .btn.edit {
            border: none;
        }

        .icon-list a {
            float: left;
            margin-right: 5px;
        }

            .icon-list a:last-child {
                margin-right: 0px;
            }

        #search-results {
            background: white;
            border: 1px solid #ddd;
            position: absolute;
            width: 348px;
            display: inline-block;
            z-index: 999;
            margin-left: 1px;
            margin-top: -1px;
        }

            #search-results ul {
                list-style: none;
                padding: 0px;
                margin: 0px;
            }

            #search-results .nohits {
                padding: 10px;
                margin: 0px;
                font-weight: bold;
            }

            #search-results ul li {
                padding: 10px;
                margin: 0px;
                border-bottom: 1px solid #efefef;
            }

                #search-results ul li:hover {
                    color: #fff;
                    background: #2196F3;
                    border: 1px solid #1E88E5;
                    cursor: pointer;
                }

                #search-results ul li .heading {
                    font-weight: bold;
                }

        .list-group-item.subitem {
            padding: 5px 35px;
            font-size: 12px;
        }

    .card {
        position: relative;
        background-color: #fff;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 2px;
        margin-bottom: 30px;
        box-shadow: 1px 1px 1px 0 rgba(0,0,0,.07),1px 2px 5px 0 rgba(0,0,0,.06);
    }

    .table-responsive {
  overflow-x: auto;
  min-height: .01%;
}
* {
  outline: 0!important;
}
*, .card, .card .card-content, .card .card-reveal, .noUi-target, .noUi-target *, :after, :before, input[type=search] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, .card, .card .card-content, .card .card-reveal, .noUi-target, .noUi-target *, :after, :before, input[type=search] {
  -webkit-box-sizing: border-box;
}
user agent stylesheetdiv {
  display: block;
}
.grey.lighten-3 {
  background-color: #eee;
  color: #666;
}
.grey {
  background-color: #9e9e9e;
  color: #fff;
}
.grey-text, .page-header h1 i {
  color: #9e9e9e;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: #2196F3;
}
        .dropdown-menu {
            border-radius: 1px;
            margin-top: 1px;
        }
.editable-text {
        position: relative;
    }

        .editable-text span.normal div.click-box {
            display: none;
        }

        .editable-text span.normal:hover div.click-box {
            display: block;
            background: #fff;
            padding-left: 4px;
            padding-bottom: 4px;
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            cursor: pointer;
            height: 20px;
            border: 1px solid #e0e0e0;
        }

    .tab {
        padding: 7px 10px;
    }

        .tab:hover {
            background: #BBDEFB;
            cursor: pointer;
        }

    .box .box-header {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
        background: #f9f9f9;
        font-weight: 600;
        border-bottom: 1px solid #e0e0e0;
    }

    .btn-nav {
        box-shadow: none;
        font-weight: bold;
        padding: 0px 7px;
    }

    .form-control {
        box-shadow: none;
        -webkit-box-shadow: none;
    }

        .form-control:focus {
            border-color: #66afe9;
            outline: 0;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 1px rgba(3, 169, 244, 1);
        }
div.editrow {
    height: 40px;
}

div.editrow div.editrow-label {
    color: #333;
    width: 200px;
    float: left;
}

div.editrow div.editrow-content {
     float: left;
     height: 30px;
}

.subtle-button {
    color: #444;
}

.subtle-button span {
    line-height: 18px;
}

.subtle-button:hover {
    cursor: pointer;
    color: #41557d;
}

.nav-link {
     font-weight:bold;padding:10px;
}

.nav-link:hover {
    color: #41557d;
    cursor: pointer;
}

.btn {
    padding: 4px 8px;
}