<div class="col-md-3">
    <card>
        <card-header title="Meny"></card-header>
        <card-nav-link title="Skapa företag"></card-nav-link>
    </card>
    <card>
        <card-header title="Parks & Resorts Scandinavia"></card-header>
        <card-nav-sub-link title="Skapa företag"></card-nav-link>
        <card-nav-sub-link title="Skapa företag"></card-nav-link>
        <card-nav-sub-link title="Skapa företag"></card-nav-link>
        <card-nav-sub-link title="Skapa företag"></card-nav-link>
        <card-nav-sub-link title="Skapa företag"></card-nav-link>
        <card-nav-sub-link title="Skapa företag"></card-nav-link>
    </card>
    <card>
        <edit edit-mode="true" bind-model="global">
            <card-header title="Sort By"></card-header>            
            <card-content class="content">
                <edit-textbox attribute="FirstName" label="CM"></edit-textbox>
                <edit-textbox attribute="LastName" label="Month"></edit-textbox>
            </card-content>
        </edit>
    </card>
    <card>
        <edit>
            <card-header title="HEADER!">
                <card-header-link edit-action type="edit" ng-show="!state.isEditMode">!!!</card-header-link>
            </card-header>            
            <card-content class="content">
                <edit-textbox attribute="FirstName" label="First name"></edit-textbox>
                <edit-textbox attribute="LastName" label="Last name"></edit-textbox>
            </card-content>
            <card-footer ng-show="state.isEditMode">
                <card-button edit-action type="save">Save</card-button>
                <card-button edit-action type="cancel">Cancel</card-button>
            </card-footer>
        </edit>
    </card>
</div>
<div class="col-md-9">

    <h3 style="color: #F44336;margin: 0;margin-bottom: 15px;">My profile</h3>
    <card>
        <card-content>
            <pre>{{global}}</pre>
        </card-content>
    </card>
    <card>
        <edit>
            <card-header title="HEADER!">
                <card-header-link edit-action type="edit" ng-show="!state.isEditMode">!!!</card-header-link>
            </card-header>
            <display-mode>
                <card-content>
                    FirstName: {{model.FirstName}},
                    LastName: {{model.LastName}}
                </card-content>
            </display-mode>
            <edit-mode>            
                <card-content>
                    <edit-textbox attribute="FirstName" label="First name"></edit-textbox>
                    <edit-textbox attribute="LastName" label="Last name"></edit-textbox>
                </card-content>
                <card-footer ng-show="state.isEditMode">
                    <card-button edit-action type="save">Save</card-button>
                    <card-button edit-action type="cancel">Cancel</card-button>
                </card-footer>
            </edit-mode>
        </edit>
    </card>
    <style>
        .tbl {
            width: 100%;
        }
        
        .tbl td {
            white-space:nowrap;
            padding: 3px 6px;
            border: 1px solid #e0e0e0;
        }
        .tbl td:last-child {
            border-right: none;
            padding-right: 8px;
        }
        .tbl td:first-child {
            border-left: none;
            padding-left: 8px;
        }
        
        .tbl tr.first td {
            border-top: none;
            padding-top: 8px;
        }
        
        .tbl tr.last td {
            border-bottom: none;
            padding-bottom: 8px;
           border-right: none;
        }
        
        .tbl tr.odd td {
            background: #f9f9f9;
        }
        .tbl tr.header td {
            font-weight: 300;
            
        }
        
        .tbl tr.grouping td {
            font-weight: bold;
        }
        
        .tbl tr.drilldown td {
            padding: 10px;
            position: relative;
        }
        
        .tbl tr.drilldown td div.right-corner {
            color: red;
            position: absolute;
            right: 10px;
            margin-bottom: 15px;
            top: 10px;
        }
        
        .btn-nav {
            color: #666;
        }
        
        tr.checked td {
            background: #E3F2FD !important;
        }
    </style>
    <card>
        <card-header title="Deltagare"></card-header>
        <grid-view edit>
            <grid-column attribute="FirstName" label="First Name"></grid-column>
            <grid-column attribute="LastName" label="Last Name"></grid-column>
            <grid-column attribute="Age" label="Age"></grid-column>
            
            <grid-link target="edit" icon="pencil"></grid-link>
            <grid-link target="edit" icon="bar-chart"></grid-link>
            <grid-drilldown target="edit">
                <pre>{{model | json}}</pre>
            </grid-drilldown>
        </grid-view>
    </card>
     <card>
        <card-header title="Deltagare"></card-header>
        <grid-view edit>
            <grid-column attribute="FirstName" label="First Name"></grid-column>
            <grid-column attribute="LastName" label="Last Name"></grid-column>
            <grid-column attribute="Age" label="Age"></grid-column>
            
            <grid-link target="edit" icon="pencil"></grid-link>
            <grid-link target="edit" icon="bar-chart"></grid-link>
            <grid-drilldown target="edit">
                <pre>{{model | json}}</pre>
            </grid-drilldown>
        </grid-view>
    </card>
     <card>
        <card-header title="Deltagare"></card-header>
        <grid-view edit>
            <grid-column attribute="FirstName" label="First Name"></grid-column>
            <grid-column attribute="LastName" label="Last Name"></grid-column>
            <grid-column attribute="Age" label="Age"></grid-column>
            
            <grid-link target="edit" icon="pencil"></grid-link>
            <grid-link target="edit" icon="bar-chart"></grid-link>
            <grid-drilldown target="edit">
                <pre>{{model | json}}</pre>
            </grid-drilldown>
        </grid-view>
    </card>
    <card>
        <card-header title="Ledare">
            <card-button type="cancel"><xicon icon="delete" /></card-button>    
        </card-header>
        <grid-view edit>
            <grid-column attribute="FirstName" label="First Name"></grid-column>
            <grid-column attribute="LastName" label="Last Name"></grid-column>
            <grid-column attribute="Age" label="Age"></grid-column>
            
            <grid-drilldown icon="details">
                <edit bind-model="model" edit-mode="true">
                    <edit-textbox attribute="FirstName"></edit-textbox>
                </edit>
            </grid-drilldown>
            <grid-drilldown icon="edit">
                <input type="text" class="form-control" />
            </grid-drilldown>
            <grid-action icon="delete" label="Delete"></grid-action>
        </grid-view>
    </card>
</div>